<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dx.ss.hankoo.dal.mapper.BlackParticipantMapper">
  <resultMap id="BaseResultMap" type="com.dx.ss.hankoo.dal.beans.BlackParticipant">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="prize_id" jdbcType="INTEGER" property="prizeId" />
    <result column="participant_id" jdbcType="INTEGER" property="participantId" />
  </resultMap>

  <resultMap id="BlackParticipantModel" type="com.dx.ss.hankoo.dal.model.BlackParticipantModel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="prize_id" jdbcType="INTEGER" property="prizeId" />
    <result column="prize_name" jdbcType="VARCHAR" property="prizeName" />
    <result column="participant_id" jdbcType="INTEGER" property="participantId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>

  <select id="getBlackParticipants" parameterType="map" resultMap="BlackParticipantModel">
    SELECT b.id, prize_id, prize.name AS prize_name, participant_id, p.name
    FROM black_participant AS b, participant AS p, prize
    WHERE b.prize_id=prize.id AND b.participant_id=p.id
    <if test="search.name != null and search.name != ''">
      AND p.name=#{search.name}
    </if>
    <if test="search.prizeId != null">
      AND b.prize_id=#{search.prizeId}
    </if>
    ORDER BY id DESC
  </select>
</mapper>